<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whole_automation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Whole_Automation"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Hab3"
            android:exported="false" />
        <activity
            android:name=".Hab2"
            android:exported="false" />
        <activity
            android:name=".Hab1"
            android:exported="false" />
        <activity
            android:name=".Lavabo"
            android:exported="false" />
        <activity
            android:name=".Cocina"
            android:exported="false" />
        <activity
            android:name=".Salon"
            android:exported="false" />
        <activity
            android:name=".Registro"
            android:exported="false"
            android:label="@string/title_activity_registro"
            android:theme="@style/Theme.Whole_Automation.NoActionBar" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>